<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%=link_to user.follower.count, user_follow_path(user.id) %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%=link_to user.followed.count, user_followed_path(user.id)%></th>
  </tr>
</table>

<div class="row">
  <% if user != current_user %>
    <div class="col">
      <% if user.followed_by?(current_user) %>
        <%= link_to user_relationships_path(user), method: :delete, class: "btn btn-light btn-block" do%>
          <i class="fas fa-user-minus"></i> フォローを外す
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(user), method: :post, class: "btn btn-info btn-block" do%>
          <i class="fas fa-user-plus"></i> フォローをする
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <% if current_user.followed_by?(user) and user.followed_by?(current_user)%>
        <%= link_to "チャットする", user_message_path(current_user.id, user.id)%>
      <% end %>
    </div>
  <% end %>
</div>


<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block mt-3" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>