<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@mybook.user) do %>
            <%= image_tag @mybook.user.get_profile_image, size:"100x100" %><br>
            <%= @mybook.user.name %>
            <% end %>
          </td>
          <td><%= link_to @mybook.title, @mybook %></td>
          <td><%= @mybook.body %></td>
          <td>
            <% if @mybook.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(@mybook), method: :delete do %>
                ♥ <%= @mybook.favorites.count %> いいね
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@mybook), method: :post do %>
                ♡ <%= @mybook.favorites.count %> いいね
              <% end %>
            <% end %>
          </td>
          <td>
            コメント数:<%= @mybook.book_comments.count %>
          </td>
          <td>
            閲覧数:<%= @mybook.viewcount %>
          </td>
          <% if @user.id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@mybook), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @mybook, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>

      <!--コメント一覧表示-->
      <h3>Comments</h3>
      <table class='table'>
        <tbody class='comment-area'>
          <%= render 'book_comments/comments', mybook: @mybook %>
        </tbody>
      </table>
      <!--新規コメント入力-->
      <%= form_with model:[@mybook, @comment], local:false do |f| %>
        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

